<%- include("partials/header") -%>
<h1><%= pageTitle %></h1>
<p><%= content %></p>

<% for(let i=0; i<postArray.length; i++){ %>
    <h1><%= postArray[i].title %></h1>
      <p><%= postArray[i].body %></p>
  <%}%>
<%- include("partials/footer") -%>
